.footer-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

.footer p {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.footer {
  padding-bottom: 70px;
  background-color: white;
  padding-top: 35px;
}
