.header {
  background: url(/src/img/canyon.png) lightgray 0px 0px / 100% 100% no-repeat;
  height: 397px;
  box-shadow: 0px 40px 0px 0px #ffb500;
}

.header-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: 700;
  display: flex;
  height: 397px;
  flex-direction: column;
  justify-content: center;
}
